@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
html, body {
  background: #232323;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
:root {
  --swiper-theme-color: #e6c24d !important; 
}
body, input, textarea, button, select, label {
  font-family: 'Montserrat', 'Poppins', Arial, sans-serif;
  font-size: 1.08rem;
}